body {
    background-color: #fff5e5;
    color: #333;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

main {
    padding: 0 15% 40px 15%;
}

section {
    padding-top: 20px;
}

h1 {
    text-align:center;
}

.form-group {
    text-align: center;
    margin: 10px; /* Set the margin as needed for spacing */
    box-sizing: border-box; /* Include border and padding in the box size */
}

.form-group label {
    display: block;
}

.form-row {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

@media (max-width: 720px) {
    main {
        padding: 0 5% 20px 5%;
    }

    section {
        padding-top: 5px;
    }

    .form-row {
        flex-direction: column; /* Stack the divs vertically on smaller screens */
    }
}

.link-container {
    text-align: center;
}

/* Submit Button */

.submit {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.submit button {
    width: 200px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    background-color: #007bff; /* Adjust background color as needed */
    color: #fff; /* Adjust text color as needed */
    font-size: 16px; /* Adjust font size as needed */
    border: 1px solid #035bb9;
    border-radius: 5px;
    cursor: pointer;
}

/* Result Box */
.result-box {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.result-text {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

/* Input */
input {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input::placeholder {
    color: #999;
}

/* Select */
select {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

select::placeholder {
    color: #999;
}


